<!doctype html>
<html>
<head>
    <title>Sign-up Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>

<body>
    <div id="halfPage" class="container">
    <h1 class="class1 h1">Group project sign-up</h1>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}
    
    <form action="/newGroup" id="frm1", method="POST">
        <label for="groupMembers" class="form-label">Number of members:</label>
        <input type="number" name="grpMembers" id="groupMembers" placeholder="number of group members" min="1" max="4"
            required="true" /><br />
        
        <label for="student1" class="form-label">Student 1:</label>
        <input type="number" name="Std1" id="student1" required="true" /><br /><br />
        
        <label for=" student2" class="form-label">Student 2:</label>
        <input type="number" name="Std2" id="student2" required="true" /><br /><br />
        
        <label for="student3" class="form-label">Student 3:</label>
        <input type="number" name="Std3" id="student3" required="true" /><br /><br />
        
        <label for="student4" class="form-label">Student 4:</label>
        <input type="number" name="Std4" id="student4" /><br /><br />
        <input type="submit" id="submitBtn" value="Submit" class="btn btn-dark" />
        </form>
    <br />
    <table class="table table-bordered table-striped"> ">
        
        <tr class="table-primary">
            <th>Group ID.</th>
            <th>Student 1</th>
            <th>Student 2</th>
            <th>Student 3</th>
            <th>Student 4</th>
        </tr>
    {% for group in all_groups %}        
        <tr>
        <td>{{group.group_id}}</td>
        <td id="{{group.student1}}">{{group.student1}}</td>
        <td id="{{group.student2}}">{{group.student2}}</td>
        <td id="{{group.student3}}">{{group.student3}}</td>
        <td id="{{group.student4}}">{{group.student4}}</td>
        <td>
            <form action="{{ url_for('main.delete_group', group_id=group.group_id) }}" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </td>
        </tr>
    {% endfor %}
    </table>
    </div>
    </body>
</html>
